{%extends "base.html"%}  
{%block main%}
<header class="bg-primary py-5 mb-5"> 
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Currency Arbitrage</h1>
        <p class="lead mb-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus ab labore provident mollitia. Id assumenda voluptate earum corporis facere quibusdam quisquam iste ipsa cumque unde nisi, totam quas ipsam.</p> 
        <a class="btn btn-primary" href="{{ url_for('login')}}">Login</a>   <a class="btn btn-primary" href="{{ url_for('register')}}">Register</a> 
      </div>
    </div>
  </div> 
</header>

  <!-- Page Content -->
  <div class="container">

    
    <!-- Marketing Icons Section -->
    <div class="row">    

      <div class="col-lg-6 mb-6" style="width: 18rem;">
        <img class="img-responsive" src="static/images/arb.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Currency Arbitrage</h5>
          <p class="card-text-center">We offer an easy to use arbitrage for the general public to take advantges of prices of currency pairs.</p>
        </div>
      </div>

      <div class="col-lg-6 mb-6" style="width: 18rem;"> 
          <a><img class="img-responsive" src="static/images/cc.png" alt="Card image cap"></a>
          <div class="card-body"> 
            <h5 class="card-title">Currency Converter</h5>
            <p class="card-text-center">Access real-time rates for  major FX pairs such as JMD/USD, CHF/USD, TTD/JMD and more.</p>
          </div> 
      </div>
    </div>
    <!-- /.row -->


    <!-- Portfolio Section -->
    <h2>Why Choose CA?</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-80">
          <a href="#"><img class="card-img-top" src="static/images/money.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Guaranteed Profits</a>
            </h4>
            <p class="card-text">A near risk-free trading strategy, currency arbitrage is preferred due to the opportunity to register significant profit. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-80">
          <a href="#"><img class="card-img-top" src="static/images/risk1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Risk Free Trade Oppotunity</a>
            </h4>
            <p class="card-text">Currency trading is considered risk-free due to strategies which provide the trader with the opportunity to profit without having an open currency exposure. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-90">
          <a href="#"><img class="card-img-top" src="static/images/easy2.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Easy to Use</a>
            </h4>
            <p class="card-text">Our users are able to access arbitrage opportunities with the touch of a button. There is no prior knowledge needed to obtain this information.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Automated platforms, mobile and tablet apps</h2>
        <p>Features includes:</p>
        <ul>
          <li>Easy to read Graph highlightingbest arbitrage opportunities</li>
          <li>Access to currency converter</li>
          <li>Perform realtime calculations on selected currencies</li>
          <li>Accesible on all devices</li>
        </ul>
        <p>  </p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="static/images/pic10.png" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
    </div>
{% endblock %}
