{%extends "base.html"%}  
{%block main%} 
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('static/images/pic1.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h1></h1> 
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('static/images/pic12.jpg')">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div> 
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</header>

  <!-- Page Content -->
<div class="container"> 
<!-- Marketing Icons Section --> 
<br> 
<section class="page-section bg-primary" id="about">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h1 class="text-white mt-0">FOREX ARBITRAGE</h1>
              <hr class="divider light my-4" />
              <h3 class="text-white-50 mb-4">We've got what you need!</h3>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ url_for('login')}}">Login</a> <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ url_for('register')}}">Sign Up</a>
          </div>
      </div>
  </div>
</section>
    <!-- Portfolio Section --> 
    <br>
    <h2>Benefits of Forex Arbitrage</h2> 
    <br>
    <div class="row">
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="static/images/money.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Guaranteed Profits</a>
            </h4>
            <p class="card-text">A near risk-free trading strategy which is preferred due to the opportunity to gain significant profit. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="static/images/risk.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Risk Free Trade Oppotunity</a>
            </h4>
            <p class="card-text">Strategies which provide the trader with the opportunity to profit without having an open currency exposure. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="static/images/hand.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Easy to use</a>
            </h4>
            <p class="card-text"> Trade with just the touch of a button. No prior knowledge needed. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Automated platforms, mobile and tablet apps</h2>
        <p>Features includes:</p>
        <ul>
          <li>Easy to read directed graph showing arbitrage opportunities</li>
          <li>Perform realtime calculations on selected currencies</li>
          <li>Accesible on all devices</li>
        </ul>
        <p>  </p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="static/images/pic10.png" alt="">
      </div>
    </div>
    <!-- /.row -->

  
{% endblock %}
